pkgbase = peter-commander
	pkgdesc = A dual-pane terminal file manager
	pkgver = 0.4.1
	pkgrel = 1
	url = https://github.com/piotrsrodka/peter-commander
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = peter-commander-0.4.1.tar.gz::https://github.com/piotrsrodka/peter-commander/archive/refs/tags/v0.4.1.tar.gz
	sha256sums = c4755e1d879fb6cec2796b4c7fb828fa348d6b11586f9c101e7644eb0823f8fe

pkgname = peter-commander
