pkgbase = peter-commander
	pkgdesc = A dual-pane terminal file manager
	pkgver = 0.9.1
	pkgrel = 1
	url = https://github.com/piotrsrodka/peter-commander
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = peter-commander-0.9.1.tar.gz::https://github.com/piotrsrodka/peter-commander/archive/refs/tags/v0.9.1.tar.gz
	sha256sums = 3f4789b2e0e5b2913367bb9d140686c3054947bbc3c254a55344e41e451f417a

pkgname = peter-commander
